<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AwardMapper">

    <select id="selectAll" resultType="com.example.entity.Award">
        select award.*, host.name as hostName, event.name as eventName from `award`
        left join host on award.host_id = host.id
        left join event on award.event_id = event.id
        <where>
            <if test="eventName != null"> and event.name like concat('%', #{eventName}, '%')</if>
            <if test="hostId != null"> and award.host_id = #{hostId}</if>
            <if test="eventId != null"> and award.event_id = #{eventId}</if>
        </where>
        order by award.id asc
    </select>

    <select id="selectById" resultType="com.example.entity.Award">
        select * from `award`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `award`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Award" useGeneratedKeys="true" keyProperty="id">
        insert into `award`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="money != null">money,</if>
            <if test="eventId != null">event_id,</if>
            <if test="hostId != null">host_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="money != null">#{money},</if>
            <if test="eventId != null">#{eventId},</if>
            <if test="hostId != null">#{hostId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Award">
        update `award`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="eventId != null">
                event_id = #{eventId},
            </if>
            <if test="hostId != null">
                host_id = #{hostId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>