<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DrawCashMapper">

    <select id="selectAll" resultType="com.example.entity.DrawCash">
        select draw_cash.*, user.name as userName from `draw_cash`
        left join user on draw_cash.user_id = user.id
        <where>
            <if test="userId != null"> and draw_cash.user_id = #{userId}</if>
            <if test="userName != null"> and user.name = #{userName}</if>
        </where>
        order by draw_cash.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.DrawCash">
        select * from `draw_cash`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `draw_cash`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.DrawCash" useGeneratedKeys="true" keyProperty="id">
        insert into `draw_cash`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="money != null">money,</if>
            <if test="time != null">time,</if>
            <if test="account != null">account,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="money != null">#{money},</if>
            <if test="time != null">#{time},</if>
            <if test="account != null">#{account},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.DrawCash">
        update `draw_cash`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>