<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NewsMapper">

    <select id="selectAll" resultType="com.example.entity.News">
        select news.*, host.name as hostName from `news`
        left join host on news.host_id = host.id
        <where>
            <if test="title != null"> and news.title like concat('%', #{title}, '%')</if>
            <if test="hostId != null"> and news.host_id = #{hostId}</if>
            <if test="status != null"> and news.status = #{status}</if>
        </where>
        order by news.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.News">
        select * from `news`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `news`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.News" useGeneratedKeys="true" keyProperty="id">
        insert into `news`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="description != null">description,</if>
            <if test="img != null">img,</if>
            <if test="content != null">content,</if>
            <if test="readCount != null">read_count,</if>
            <if test="hostId != null">host_id,</if>
            <if test="status != null">status,</if>
            <if test="reason != null">reason,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="img != null">#{img},</if>
            <if test="content != null">#{content},</if>
            <if test="readCount != null">#{readCount},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="status != null">#{status},</if>
            <if test="reason != null">#{reason},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.News">
        update `news`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="readCount != null">
                read_count = #{readCount},
            </if>
            <if test="hostId != null">
                host_id = #{hostId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>